#h1{
    background-color: #7fffd4
}

.p1 {
    background-color: #7fffd4;
    text-align: center;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.p1 :hover{
    background-color: seashell;
}

.dog {
  width: 20%;
  height: auto;
  border-style: solid;
  border-color: #808080 ;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.btn1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
